.App {
  font-family: sans-serif;
  text-align: center;
}

.timer-display {
  font-size: 40px;
}

.input {
  width: 100px;
  height: 25px;
  font-size: 20px;
}

.button-display {
}

.sessionContainer {
  display: flex;
  justify-content: center;
}

.breakContainer {
  display: flex;
  justify-content: center;
}

h1 {
  color: #bb2222;
}

form {
  display: flex;
  align-items: center;
}

input {
  margin: 10px;
}
